/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
    font-family: "Poppins",  sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #2a322e;
    text-align: left;
    background-color: #04253a;
}
